@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

:root {
  /* --main-color: #065d8a;
  --main-color-light: #46b5d0; */
  --main-color: #5d9ea0;
  --main-color-light: #90C5C7;
}

#app {
    font-family: 'Open Sans', sans-serif;
}
.btn-primary {  
    background-color: #46b5d0;
    border: 1px solid #46b5d0;
}
.btn-primary:hover {
    background-color: #46b5d0;
    border: 1px solid #46b5d0;
}
.customers-img {
    max-height: 100px;
    padding: 5px 0 5px 0;
}
.color-main {
    color: var(--main-color);
}
.color-main-light {
    color: var(--main-color-light);
}
.color-main-dark {
    color: #058CAC;
}
.bg-main {
    background-color: var(--main-color);
}
.bg-main-light {
    background-color: var(--main-color-light);
}
.bg-main-dark {
    background-color: #058CAC;
}
.bg-main-gradient {
    background-image: linear-gradient(to bottom right, var(--main-color), var(--main-color-light));
    /* color: white !important; */
}
.banner {
    /* background: url("../../assets/img/banner.png") no-repeat center center; */
    /* background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../assets/img/banner.png') no-repeat center center; */
    background-size: cover;
}
.header-content {
    /* position: absolute; */
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}
.footer-gradient {
    background-image: linear-gradient(to bottom right, #c8b19f, #d2c4b9);
}

/*********** Sidenav ************/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color:  rgb(240 164 24); */
    background-color: var(--main-color); /* rgb(23 97 160);*/
    opacity: .95;
    overflow-x: hidden;
    transition: .5s;
    padding-top: 80px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #c8b19f;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color:#fff;
    font-size: 1.3em;
    font-weight: 1000;
    text-decoration: none;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 85px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    text-decoration: none;
  }

  .closebtn:hover {
    font-size: 56px !important;
    top: 85px;
    font-weight: 1000;
  }
  /*********** Sidenav ************/

  .font-beauty {
    font-family: 'Kaushan Script', cursive;
  }
  h2, h3 {
    color: var(--main-color);
  }
  .text-main {
      color: var(--main-color);
  }
  h2 {
    font-family: 'Kaushan Script', cursive;
  }
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .circle-stat {
    width: 90px;
    height: 90px;
    background-color: var(--main-color);
    color: white;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-weight: bold;
}

/*=================== flip image start ====================*/
.flip-box {
  background-color: transparent;
  height: 200px;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.2s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  color: black;
}

.flip-box-back {
  transform: rotateY(180deg);
}

@media screen and (max-width: 576px) {
    .flip-box-img {
        height: 100% !important;
    }
}
/*=================== flip image end ====================*/

feature-text {
  font-size: 0.95rem;  /* ili 15px */
  color: #6c757d;       /* isto kao .text-muted */
  line-height: 1.5;
}

.nav-link a {
  color: var(--main-color);
}

